.board-container {
  max-width: fit-content;
  margin: auto;
}

.board-container .board {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10vh;
}

.board-container .row {
  width: fit-content;
  display: flex;
}

.board-container .tile {
  --tile-size: 80px;
  position: relative;

  height: var(--tile-size);
  width: var(--tile-size);
}

.board-container .green {
  background-color: rgb(31, 192, 31);
}

.board-container .white {
  background-color: white;
}

.Piece {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.Piece img {
  position: absolute;
  height: 90%;
  width: auto;
  z-index: 1000;
}

.dragging {
  transform: translate(-50%, -50%);
}