.board-container {
  max-width: fit-content;
  margin: auto;
}

.board-container .board {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10vh;
}

.board-container .row {
  width: fit-content;
  display: flex;
}

.board-container .tile {
  --tile-size: 80px;
  position: relative;

  height: var(--tile-size);
  width: var(--tile-size);
}

.board-container .green {
  background-color: rgb(31, 192, 31);
}

.board-container .white {
  background-color: white;
}

.Piece {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 1000;
}

.Piece img {
  position: absolute;
  height: 90%;
  width: auto;
}

.dragging {
  transform: translate(-50%, -50%);
}

/* Loading css */

@keyframes smoothRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  width: fit-content;
  margin: auto;
}

.loading .loadingBG {
  --loadingBGsize: 12vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - var(--loadingBGsize) / 2);
  left: calc(50% - var(--loadingBGsize) / 2);
  width: var(--loadingBGsize);
  height: var(--loadingBGsize);
  border-radius: 50%;
  background-color: greenyellow;
  animation: smoothRotate 2s infinite;
}

.loading .loadingBG img {
  width: 60%;
  height: auto;
}
